APP_NAME=solana-rev-distributor
APP_CLUSTER=testnet
DATABASE_URL=sqlite:///./data/testnet/app.db
DATA_DIR=./data/testnet
STAKES_DIR=./data/testnet/stakes
VALIDATOR_REWARDS_DIR=./data/testnet/validator_rewards
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
